# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
venv/
env/
.venv/

# Archivos generados por el sistema
*.json
registro_pacientes.json

# Archivos temporales
*.tmp
*.bak

# Editores
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db
